* {
  background: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

html {
  height: 100%;
}

body {
  max-width: 1440px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 80px;
  grid-template-columns: 120px auto;
  grid-template-areas:
    "header main"
    "footer footer";
}

header {
  grid-area: header;
  margin: 40px 40px 0 40px;
}

header img {
  width: 120px;
  height: 48px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: 680px 400px;
  grid-template: "section1 section2";
}

.texto {
  grid-area: section1;
  margin: 40px 40px 0 40px;
  width: 680px;
}

.ingresar-texto {
  color: #0a3871;
  font-size: 32px;
  width: 100%;
  height: 360px;
  margin-top: 120px;
  border: none;
  resize: none;
  text-transform: lowercase;
}

.ingresar-texto:focus {
  outline: none;
}

.ingresar-texto::placeholder {
  color: #0a3871;
}

.alerta-texto {
  font-size: 12px;
  color: #495057;
  line-height: 150%;
  padding-bottom: 15px;
}

.alerta-texto i {
  font-size: 17px;
  margin-right: 5px;
}

.botones {
  width: 100%;
}

button {
  height: 67px;
  width: 328px;
  font-size: 16px;
  border-radius: 24px;
  transition: 0.6s all;
}

.boton-encriptar {
  background: #0a3871;
  color: #ffffff;
  border: none;
  margin: 0 19px 0 0;
}

.boton-encriptar:hover {
  background: #ffffff;
  color: #495057;
  border: 1px solid #495057;
  transform: scale(1.03);
}

.boton-desencriptar {
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
}

.boton-desencriptar:hover {
  background: #495057;
  color: #ffffff;
  border: none;
  transform: scale(1.03);
}

.mensaje {
  background: #ffffff;
  grid-area: section2;
  margin: 40px 40px 0 40px;
  width: 400px;
  border-radius: 32px;
}

.ningun-mensaje {
  background: #ffffff;
  width: 336px;
  margin: 0 auto;
}

.ningun-mensaje img {
  background: #ffffff;
  margin: 100px auto 0;
}

.alerta-ningun-mensaje {
  background: #ffffff;
  color: #343a40;
  margin: 20px 0 13px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  padding: 0 50px;
  text-align: center;
}

.alerta-ingresar-mensaje {
  background: #ffffff;
  color: #495057;
  font-size: 16px;
  text-align: center;
}

.contenido-mensaje {
  background: #ffffff;
  margin: 40px 32px 0;
}

.mensaje-resultante {
  background: #ffffff;
  color: #495057;
  font-size: 24px;
  width: 336px;
  height: 440px;
  margin-bottom: 33px;
  border: none;
  resize: none;
}

.mensaje-resultante:focus {
  outline: none;
}

.ocultar {
  display: none;
}

.boton-copiar {
  background: #ffffff;
  color: #0a3871;
  border: 1px solid #0a3871;
}

.boton-copiar:hover {
  background: #0a3871;
  color: #ffffff;
  border: none;
  transform: scale(1.03);
}

footer {
  grid-area: footer;
  text-align: center;
  width: 100%;
}

.redes-sociales {
  width: 100%;
}

.red-social i {
  color: #0a3871;
  font-size: 25px;
  margin: 15px 0 8px 0;
}

.red-social:first-child {
  margin-right: 8px;
}

.copyright {
  font-size: 16px;
  color: #495057;
  padding-bottom: 10px;
}


/* =============================================== */
/****************** MEDIA QUERIES **************** */
/* =============================================== */


/* =================================================== */
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}


/* ====================================== */
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}


/* ====================================== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

  body {
    display: block;
  }

  header {
    margin: 73px 0 0 0;
  }

  main {
    display: block;
  }

  .texto {
    margin: 0 40px;
    width: 680px;
  }

  .ingresar-texto {
    height: 582px;
    margin-top: 120px;
  }

  .mensaje {
    margin: 64px 40px 8px 40px;
    width: 680px;
  }

  .ningun-mensaje {
    margin: 0;
    width: 100%;
    border-radius: 32px;
  }

  .ningun-mensaje img {
    display: none;
  }

  .alerta-ningun-mensaje {
    width: 624px;
    padding: 32px 0 15px 0;
    margin: 0 auto;
    
  }
  
  .alerta-ingresar-mensaje {
    width: 624px;
    padding: 0 15px 32px;
    margin: 0 auto;
    border-radius: 32px;
  }

  .mensaje-resultante {
    width: 624px;
    height: 180px;
    margin: 32px 0;

  }

  .boton-copiar {
    width: 624px;
    margin-bottom: 32px;
  }

}


/* =============================================== */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

}
















